services:
  db:
    image: postgres:16
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: dioxus
      POSTGRES_PASSWORD: dioxus
      POSTGRES_DB: dioxus_app
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
